@layer base {
  *,
  ::before,
  ::after {
    border-color: var(--border);
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    font-feature-settings: "cv11", "ss01";
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
  }

  ::selection {
    background-color: var(--selection);
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar) transparent;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
      animation-duration: 0.01ms !important;
      transition-duration: 0.01ms !important;
    }
  }
}
